{% extends 'main.html'%} {% block title %} Home Page
 {% endblock title %} 
 {%block style %}
<link rel="stylesheet" type="text/css" href="../media/css/home.css" />
{% endblock style %} {%block content %}
<div class="container">
  <div class="left-div">
    <h1>Welcome Hybrid Crypto?</h1>
    <p>
      We need to encrypt our files so that we can store our files in cloud in
      safe way from the hacker. So if at any point of time if the database is
      hacked the files we stored are still safe from the hackers what we are
      trying to do is passing a file through different cipher and encrypting the
      file in multiple layers, now why we are using different keys, just to make
      them more secure, because due to 1 data breach if our database is
      compromised and somehow key is compromised we will loose all our data.
    </p>
  </div>
  <div class="right-div">
    
  </div>
</div>
{% endblock content %}
